<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <title>All dictionaries</title>
</head>
<body>

<div th:each="dictionary : ${dictionaries}">
    <div class="block">

        <div class="lng__dictionaries">
            <a href="#" class="lng__link">Dictionaries</a>
            <div class="lng__list-wrapper">
                <div class="lng__list" th:each="dictionary : ${dictionaries}">
                    <a th:href="@{/dictionaries/{id}(id=${dictionary.getId()})}"
                       th:text="${dictionary.getWord() + ', ' + dictionary.getTranslatedWord()}">English dictionary</a>
                    <a href="/dictionaries/{id}/edit">Deutsch dictionary</a>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="nav">-->
    <!--        <li class="nav__item">-->
    <!--            <a href="" class="nav__link">List item</a>-->
    <!--            <div class="nav__submenu-wrapper">-->
    <!--                <div class="nav__submenu">-->
    <!--                    <a class="nav__submenu-link" href="#">submenu link</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </li>-->
    <!--        <li class="nav__item">-->
    <!--            <a href="" class="nav__link">List item</a>-->
    <!--        </li>-->
    <!--    </div>-->


</div>
</body>
</html>
