<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${dictionary.getWord() + ', ' + dictionary.getTranslatedWord()()}">VALUE</p>
<p th:text="${'Translated word: ' + dictionary.getTranslatedWord()()}">VALUE</p>
<p th:text="${dictionary.getId()}">VALUE</p>

<a th:href="@{/dictionaries/{id}/edit(id=${dictionary.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/dictionaries/{id}(id=${dictionary.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>